.theme-dark {
  --displayName: #fff;
  --navbarBackground: #383838;
  --background: #212121;
}

.theme-light {
  --displayName: #000000;
  --navbarBackground: #ffffff;
  --background: #f5f5f5;
}

svg > rect,
text {
  transition: fill 0.2s ease-in-out;
}

svg > rect {
  fill: var(--navbarBackground);
}

text {
  fill: var(--displayName) !important;
}

.chart {
  height: 45vh;
}
