.theme-dark {
  --displayName: #fff;
  --navbarBackground: #383838;
  --background: #212121;
  --paperBackground: rgba(44, 44, 44, 0.5);
  --amountCardBackground: #3a3a3a;
  --tableOddColor: #3a3a3a;
  --tableEvenColor: #2b2b2b;
  --tableHeader: #2b2b2b;
  --tableName: #cecece;
  --expenseBackground: #643f3f;
  --incomeBackground: #2c4f31;
  --rowNumber: #2c4f31;
  --arrowColor: #5f5f5f;
}

.theme-light {
  --displayName: #000000;
  --navbarBackground: #ffffff;
  --background: #f5f5f5;
  --paperBackground: rgba(255, 255, 255, 1);
  --amountCardBackground: #ffffff;
  --tableOddColor: #eeeeee;
  --tableEvenColor: #ffffff;
  --tableHeader: black;
  --tableName: black;
  --expenseBackground: #ffbdbd;
  --incomeBackground: #d4ffd9;
  --rowNumber: #d4ffd9;
  --arrowColor: rgba(0, 0, 0, 0.26);
}

.paper {
  background-color: var(--paperBackground) !important;
  transition: background-color 0.2s linear !important;
}

thead tr {
  background-color: var(--tableHeader);
}

tbody tr:nth-child(odd) {
  background-color: var(--tableOddColor);
}

tbody tr:nth-child(even),
tfoot {
  background-color: var(--tableEvenColor);
}

td,
td:last-child {
  color: var(--tableName) !important;
}

td:last-child {
  border: none !important;
}

.MuiIconButton-root.Mui-disabled {
  color: var(--arrowColor) !important;
}

.MuiIconButton-root {
  color: var(--tableName) !important;
}

thead tr,
tbody tr:nth-child(odd),
tbody tr:nth-child(even),
td {
  transition: 0.2s ease-in-out;
}

.dashboard > p,
.recenttransaction > p,
.summary p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: var(--displayName);
  font-family: "poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.summary p {
  margin-bottom: 10px;
}

.amount__card {
  padding: 10px;
  height: 150px;
  width: 250px;
  position: relative;
  border-radius: 10px;
  background-color: var(--amountCardBackground);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: background-color 0.2s linear;
}

.amount__name {
  position: absolute;
  top: 70px;
  font-family: "poppins", sans-serif;
  color: var(--displayName);
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.amount__plus {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eeeeee;
  transition: background-color 0.2s ease-in-out;
}

.amount__plus:hover {
  cursor: pointer;
  background-color: #c4c4c4;
}

.amount__plus > img {
  width: 25px;
  margin: 0 auto;
}

.amount__icon {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eeeeee;
}

.amount__icon > img {
  width: 40px;
  margin: 0 auto;
}

.amount__rupees {
  position: absolute;
  bottom: 20px;
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

span.red,
span.green {
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s linear;
}

span.red {
  background-color: var(--expenseBackground);
}

span.green {
  background-color: var(--incomeBackground);
}

.red,
.Expense {
  color: #ff0038;
}

.green,
.Income {
  color: #32cd32;
}

.blue {
  color: #4169e1;
}

@media only screen and (max-width: 426px) {
  .MuiGrid-container {
    display: block !important;
  }
  .amount__card {
    width: inherit;
    margin-bottom: 20px;
  }
  svg > g {
    transform: scale(0.8) translate(32%, 27%);
  }
}
